body{
	background-color: #f6f5f1;

}
#box-page{
	width: 1170px;
	margin: 0px auto;
	background-color: #fff;
}
#banner-top{
	background-color: #f6f5f1;
}
#main-menu {
	background-color: #246eb7;
	box-shadow: 0 5px 0 0 #4F3636;
	background: -moz-linear-gradient(left, #76b5e8 0%, #3f96db 33%, #1d5699 100%);
}
#main-menu ul{
	overflow: hidden;
	padding: 0;
	list-style-type: none;
	margin-top: 0;
}
#main-menu li:hover{
	color: white;
	background-color: black;
}
#main-menu li{

	margin-left: 0;
	padding-left: 21px;
	padding-right: 21px;
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
	border-left: 1px solid white;
}
#main-menu a{
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	display: block;
}
.clr{
	clear:both;
}
#body-page>div{
	float: left;
}
#left-page{
	padding-left: 20px;
	width: 760px;
}

#right-page>table{
	padding-left: 20px;
	width: 330px;

}
#body-page table{
	line-height: 1;
	border-top: 20px;
	border-top-color: #06b0e4;
	-moz-box-shadow: 3px 3px 5px 3px #666;
	-webkit-box-shadow: 3px 3px 5px 3px #666;
	box-shadow: 3px 3px 5px 3px #666;
}

#body-page h1{
	font-size: 20px;
	text-align: center;
}
#body-page h2{
	font-size: 15px;
	text-align: left;
}
#body-page h3{
	font-size: 15px;
	text-align: left;
	color: #9898a0;
}

#footer-page table{
	border-spacing: 10px;
	margin: auto;
	width: 1170px;
	line-height: 1;
	padding-left: 20px;
	background-color: #252525;
}

#footer-page h1{
	font-size: 20px;
	text-align: left;
	color: #fff;
}
#footer-page h2{
	text-align: left;
	font-size: 15px;
	color: #fff;
}
#footer-page h3{
	font-size: 15px;
	text-align: left;
	color: #9898a0;
}

